{% extends "base.twig" %}

{% block content %}

	<article {{ function('post_class') }}>

		<div class="single-post__spacer my-5 clearfix"></div>

		<header class="single-post__title-header mb-6">
			<h1 class="entry-title mb-4-lg">{{ post.title }}</h1>
		</header>

		<div class="container mb-7">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-9">
					<img src="{{ post.thumbnail }}" alt="{{ post.title }}"/>
					{% do action('woocommerce_single_product_summary') %}
				</div>
			</div>
		</div>

	</article>

{% endblock %}
