<section id="contact" class="main-newsletter">

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12">
				<h2 class="mb-5-lg">
					Want more Particulars? </br> Sign up for our newsletter.
				</h2>
			</div>
			<div class="col-sm-12 col-md-8 col-lg-7">
				{% filter shortcodes %}
					[gravityform id="1" title="false" description="false" ajax="true"]
				{% endfilter %}
			</div>
		</div>
	</div>

</section>