<div class="header__top-bar-logo">
    <a class="brand" href="{{ site.url }}">
		<img src="{{ theme.link }}/public/images/TheParticulars-logo-02.svg" alt="{{ site.name }}" class="header__site-logo img-fluid">
	</a>
</div>