<section class="single-post__light-box single-post__light-box--basic mb-7">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-9 col-lg-6 text-center">
				<a data-fancybox="gallery" href="{{TimberImage(content_type.image)}}">
					<img
						src="{{TimberImage(content_type.image)}}"
						class="figure-img img-fluid"
						alt="">
				</a>
			</div>
		</div>
	</div>
</section>
