<section class="single-post__quote mb-5-lg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-9 col-lg-6 text-center">
				<h2>
					{{content_type.text}}
				</h2>
			</div>
		</div>
	</div>
</section>
