{% extends "base.twig" %}

{% block content %}

	<section class="container container mb-6 pt-6">
			{# <div class="row row--more-margin-md">
				<div class="col-sm-12 text-center">
					{% include 'blocks/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 2, end_size: 1}) } %}
				</div>
			</div> #}
			<div class="row row--more-margin-md">
				<div class="col-sm-12 mb-6">
					<h2 class="h1 text-center">
						{% if posts|length == 0 %}
							0 {{title}}
						{% else %}
							{{title}}
						{% endif %}
					</h2>
				</div>
				{% for post in posts %}
					{% include "blocks/posts/content.twig" with {
							post: post,
							class: 'col-sm-12 col-md-4 post-preview post-preview--normal mb-4'
						}
					%}
				{% endfor %}




			</div>
			<div class="row row--more-margin-md">
				<div class="col-sm-12 text-center">
					{% include 'blocks/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 2, end_size: 1}) } %}
				</div>
			</div>
	</section>
{% endblock %}
