.featured-post {
	overflow: hidden;
	&__bg-img {
		@include min-vh;
		background-size: cover;
		background-position: center;
		position: relative;
		@include media-breakpoint-up(lg){
			max-width: 50%;
		}
		@include media-breakpoint-up(xl){
			max-width: 43%;
		}
	}

	&__mini-img {
		background-size: cover;
		background-position: center;
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		@include media-breakpoint-down(md){
			width: 171px;
			height: 241px;
		}
		@include media-breakpoint-up(lg){
			width: 219px;
			height: 300px;
		}
		@include media-breakpoint-up(xl){
			right: -250px;
			left: auto;
			width: 325px;
			height: 446px;
		}
	}

	&__cat {
		@extend .small;
		display: block;
	}

	&__title {
		a {
			@extend .h1;
			color: $black;
		}
	}

	&__read-more {
		text-align: right;
		a {
			@extend .small;
			color: $black;
		}
	}

	&__content {
		padding: 0 30px;
		margin-top: 30px;
		margin-bottom: 30px;
		@include media-breakpoint-up(lg){
			padding: 75px;
			margin-top: 0;
			margin-bottom: 0;
		}
		@include media-breakpoint-up(xl){
			max-width: 33%;
		}
	}
}

.top5 {
	.featured-top-container {
		margin: 40px 0;
		background-color: #e2eaef;
		.product {
			padding: 15px;
			img {
				max-width: 100%;
			}
		}
	}
	
	.post-image {
		img {
			max-width: 100%;
		}
	
		.product-data {
			position: absolute;
			bottom: 0;
			left: calc(100% + 20px);
			width: 200px;
			@include media-breakpoint-down(sm){
				position: relative;
				left: 0;
				width: 100%;
				text-align: center;
			}
		}
	}

	.single-post__intro-img {
		margin-bottom: 0!important;
		margin-top: -20%;
	}

	.post-content {
		width: 100%;
		max-width: 650px;
	}
}
