.woocommerce,
.woocommerce-page {
	.header {
		&__site-logo {
			max-width: 347px;
		}
	}

	.shop {
		&-layout {
			article {
				.post-preview__title {
					font-size: 19px;
					line-height: 1.3;
				}
				&.post-preview--normal .post-preview__link-bg {
					margin-bottom: 20px;
				}
				.buy-product-link {
					a {
						font-family: acme-gothic-extrawide, sans-serif;
						font-weight: 400;
						font-style: normal;
						font-size: 9px;
						line-height: 17px;
						letter-spacing: 1px;
						text-transform: uppercase;
						color: #000;
					}
				}
			}

			aside {
				position: sticky;
				top: 150px;
				margin: 1.5rem 0;
				z-index: 1;

				h3 {
					position: relative;
					font-family: acme-gothic-extrawide, sans-serif;
					font-weight: 300;
					font-style: normal;
					font-size: 19px;
					margin-bottom: 20px;
					@include media-breakpoint-down(md) {
						&:before {
							position: absolute;
							content: '';
							top: calc(50% - 7px);
							right: 0;
							width: 10px;
							height: 10px;
							background-image: url("./../images/down-arrow.png");
							background-size: cover;
							background-repeat: no-repeat;
							background-position: center center;
						}
						&.opened {
							&:before {
								top: calc(50% - 3px);
								transform: rotate(180deg);
							}
						}
					}
				}

				ul {
					list-style: none;
					margin-left: 0;
					padding-left: 0;
					@include media-breakpoint-down(md) {
						display: none;
						&.show {
							display: block;
						}
					}

					li {
						margin: 6px 0;

						a {
							color: #000;
						}
					}
				}
			}
		}
	}
}

.single-product {
	article {
		.price {
			margin-top: 1rem;
			font-size: 23px;
			line-height: 40px;
			font-family: orpheuspro, serif;
			font-weight: 400;
			font-style: normal;
			text-transform: uppercase;
		}

		.cart {
			.button {
				&.alt {
					padding: 1rem 1.5rem;
					background-color: #fff;
					color: #000;
					border: 1px solid #000;
					border-radius: 0;
					font-family: acme-gothic-extrawide, sans-serif;
					font-weight: 300;
					font-style: normal;
					text-transform: uppercase;

					&:focus {
						outline: 1px solid #000;
						border-radius: 0;
					}
				}
			}
		}

		.product_meta {
			margin-top: 1rem;
			font-family: acme-gothic-extrawide, sans-serif;
			font-weight: 400;
			font-style: normal;
			font-size: 9px;
			line-height: 17px;
			letter-spacing: 1px;
			text-transform: uppercase;

			a {
				color: #000;
			}
		}
	}
}
