<div
	class="single-post__intro-img mb-5-lg"
	data-interchange="
		[{{ TimberImage(img) | resize(778,333)}}, (small)],
		[{{ TimberImage(img) | resize(1200,514)}}, (medium)],
		[{{ TimberImage(img) | resize(1200,514)}}, (large)],
		[{{ TimberImage(img) }}, (xlarge)]
	"
>
</div>
